.jobLogo {
    grid-area: logo;
    img {
        position: relative;
        top: -15px;
        width: 70px;
        height: 70px;
    }
    @media (min-width: $tablet) {
        img {
            position: static;
            padding: 2vh;
            width: 100%;
            height: 100%;
        }
    }
    @media (min-width: $desktop) {
        img{
            width: 75%;
            height: 75%;
        }
    }
}