$primary-cyan: hsl(180, 29%, 50%);
$neutral-background: hsl(180, 52%, 96%);
$neutral-filter: hsl(180, 31%, 95%);
$neutral-cyan: hsl(180, 8%, 52%);
$neutral-dkcyan: hsl(180, 14%, 20%);
$desktop: 800px;
$tablet: 500px;

@mixin button {
    background: $neutral-filter;
    color: $primary-cyan;
    margin: 1vh;
    padding: 1vh;
    border-radius: 5px;
    border: none;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

@import 'Header';
@import 'FilterBar';
@import 'JobList';
@import 'Logo';
@import 'Job';
@import 'Filter';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $neutral-background;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    line-height: 1.5em;
}









